.root{
	-fx-background-image :url('../../../src/view/game/image.jpg');
}

.button{
	-fx-border-width: 0;
}

#jouer{
	-fx-background-image :url('../../../src/view/game/jouerA.jpg');
}

#jouer:hover{
	-fx-background-image :url('../../../src/view/game/jouerB.jpg');
}

#options{
	-fx-background-image :url('../../../src/view/game/optionsA.jpg');
}

#options:hover{
	-fx-background-image :url('../../../src/view/game/optionsB.jpg');
}

#quitter{
	-fx-background-image :url('../../../src/view/game/quitterA.jpg');
}

#quitter:hover{
	-fx-background-image :url('../../../src/view/game/quitterB.jpg');
}